<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <meta name="theme-color" content="#000000">

        <title>{% block title %}App Title!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# PWA ITEMS #}
        <link rel="apple-touch-icon" sizes="180x180" href="#">
        <link rel="manifest" href="{{ asset('app-manifest.json') }}">
        {# PWA ITEMS #}

        {% block stylesheets %}
            {# This is being managed by assets/styles/app.css
                but you can still manage this for individual pages like: https://symfonycasts.com/screencast/asset-mapper/page-specific
            #}
        {% endblock %}

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
