<html lang="EN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        svg {
            width: 200px;
            height: 200px;
        }

        p {
            margin-top: 20px;
            font-size: 18px;
        }
    </style>

    <title>Offline</title>
</head>
<body>
<svg class="offline-bot" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100px" height="100px"
     viewBox="0 0 500 300" xml:space="preserve"><path
            d="M258.4 66V39.6H298V20.4h-98.4v19.2h39.6V66H130v174h19.2V85.2h201.6V240H370V66z"/>
    <path d="M208.91 117.31l-11.71 11.709-11.71-11.709-10.18 10.18 11.709 11.71-11.709 11.71 10.18 10.18 11.71-11.709 11.71 11.709 10.18-10.18-11.709-11.71 11.709-11.71zM324.69 127.49l-10.18-10.18-11.71 11.709-11.71-11.709-10.18 10.18 11.709 11.71-11.709 11.71 10.18 10.18 11.71-11.709 11.71 11.709 10.18-10.18-11.71-11.71zM230.8 189.6h38.4V204h-38.4z"/></svg>
<p>Seems you're offline!</p>
</body>
</html>
